cw/*
miniconda3/*
models/*
venv/*
TXT
script.sh
slurm20-*
*.csv
.gitattributes
.ipynb_checkpoints
*.json
*.txt
data/
*.csv
*.ipynb
*.safetensors
*.pt
*.pth
*.model
*.bin
*.arrow
qwen2.5-7B
qwen2.5-0.5
Qwen*
unsloth_compile*
*.pbs*
step4-rl/*/*.md